!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Git Crash Course
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "Git Crash Course"}/
    %meta{:content => "", :name => "Nicola Paolucci"}/

    %link{:href => "css/style.css", :rel => "stylesheet"}/
    -#%link{:href => "css/bootstrap.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel=> "stylesheet", :type=> "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic", :rel=> "stylesheet", :type=> "text/css"}/
  %body.impress-not-supported
    = yield
    %script{:src => "js/vendor/jquery-1.7.1.js"}
    %script{:src => "js/vendor/bootstrap-transition.js"}
    %script{:src => "js/vendor/bootstrap-alert.js"}
    %script{:src => "js/vendor/bootstrap-modal.js"}
    %script{:src => "js/vendor/bootstrap-dropdown.js"}
    %script{:src => "js/vendor/bootstrap-scrollspy.js"}
    %script{:src => "js/vendor/bootstrap-tab.js"}
    %script{:src => "js/vendor/bootstrap-tooltip.js"}
    %script{:src => "js/vendor/bootstrap-popover.js"}
    %script{:src => "js/vendor/bootstrap-button.js"}
    %script{:src => "js/vendor/bootstrap-collapse.js"}
    %script{:src => "js/vendor/bootstrap-carousel.js"}
    %script{:src => "js/vendor/bootstrap-typeahead.js"}
    %script{:src => "js/vendor/impress.js"}
  :javascript
    impress().init();
